.container{
    border:30px solid black;
    border-radius: 60px;
    background-color: grey;
}
h1{border: 1px solid lightgreen;
    display:inline-block
}
h3{
    border: 1px solid blue;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgrey;

    
}
p{
    border:1px solid red;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgrey;
}

}